<div class="logoHolder">
    <img
        src="../../assets/4u2nv.png" 
        width="42%"
        height="300px"
        alt="logo"/>
</div>

<div class="productContainer">
    <div class="cardContent"> 
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhjDic1LN3R1v9gYvbg_PB0bH4pidbAoSQlQ&usqp=CAU" 
        class="card-img-top" 
        width="290px"
        height="300px"
        alt="shirts">
        <div class="card-body">
          <h5 class="card-title">Shirts</h5>
          <p class="card-text"> You mom bought this, too.</p>
          <a href="#" class="btn btn-primary"  routerLink="/shirts">View All</a>
        </div>
      </div>
    </div>