<div class="nav-container">
    <!--div class="nav-img">
        <img
        src="../../assets/4u2nv.png" />
    </div-->
    <ul class="nav nav-pills justify-content-center">
        <div class="nav-img">
        <img
        src="../../assets/4u2nv.png" />
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/shirts">Shirts</a>
        </li>        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
            <i class="fas fa-shopping-cart"></i>
            <a class="nav-link" href="#" routerLink="/cart">Cart: {{countProduct$ | async}}</a>
        </li>
        <li class="nav-item">
            <p> Total: ${{totalPrice$ | async | number : '1.2-2'}}</p>
        </li>
  </ul>
</div>

